.material__name {
    color: var(--baseTextColor);
    font-size: 14px;
    font-weight: 200;
    padding: 0 0 10px 0;
}

.category__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    /* padding-bottom: 20px; */
}

@media (max-width: 768px) {
    .material__name {
        font-size: 12px;
    }
}