.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    /* max-width: 1600px; */
    margin: 0 auto;
    /* gap: 50px; */
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 45px;
    /* max-width: 1600px; */
}

/* .item:nth-child(2) {
    max-width: 60%;
} */

/* .mainImage {
    max-width: 60%;
    object-fit: cover;
    max-height: 30%;
} */

.textWrapper {
    max-width: 741px;
    padding-left: 110px;
}

.text {
    color: var(--baseTextColor);
    font-size: 14px;
    font-weight: 200;
    padding-bottom: 20px;
}

@media (min-width: 1921px) {
    .textWrapper {
        max-width: 50%;
    }
}